/* ---------------- */
/* ---- GLOBAL ---- */
/* ---------------- */

/* VARIABLES */
:root{
    --primary : #587B98;
    --cta : #FF5C5C;
    --light : #D2F5FF;
    --dark : #004C74;
    --pop : 'Poppins';
    --open : 'Open Sans';
}


body{
    width: 100%;
    height: 100%;
    font-family: var(--open);
    background-color: var(--light);
}


/* HEADER */
header{
    z-index: 2;
    height: 50px;
    width: 100%;
    background-color: var(--dark);
    position: fixed;
    top: 0;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .search-bar{
    height: 26px;
    margin-top: 7px;
    display: none;
}



.logo img{
    height: 40px;
    width: auto;
    align-items: center;
    margin: 0 auto;
}

header .top-logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

header .top-logos .notif-logo{
    margin-top: 5px;
}


header .top-logos .notif-logo svg path{
    fill: var(--light);
    z-index: 1;
    height: 30px;
}

header .top-logos .notif-logo svg:hover path{
    fill: var(--cta);
}



header .user-logo{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-color: var(--light);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .user-logo:hover{
    background-color: var(--primary);
}

header .user-logo:hover svg path{
    fill: var(--light);

}


header .user-logo svg{
    height: 25px;
    width: 25px;
}


header path{
    fill: var(--dark);
    cursor: pointer;
}


/* NAVIGATION */
nav{
    overflow: hidden;
    width: 100%;
    padding: 0 20px;
    position: fixed;
    top: 50px;
    background-color: var(--light);
    margin: 0 auto;
    z-index: 2;
}

nav ul {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    margin: 0 auto 15px;
    align-items: center;
    justify-content: start;
    overflow-y: hidden;
}

nav  ul::-webkit-scrollbar {
    height: 5px;
}

nav  ul::-webkit-scrollbar-track {
    background-color: var(--light);
    border-radius: 10px;
}

nav  ul::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
}

nav  ul::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark);
}

nav .tags-links{
    margin: 0 0 10px;
} 

nav  ul li a{
    text-decoration: none;
    margin: 0 5px;
    background-color: var(--primary);
    padding: 4px 8px;
    border-radius: 25px;
    color: var(--light);
}

nav  ul li a:hover{
    text-decoration: none;
    margin: 0 5px;
    background-color: rgba(88, 123, 152, 0.5);
    padding: 4px 8px;
    border-radius: 25px;
    color: var(--dark);
}


/* FOOTER */
footer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}


footer .mentions{
    text-align: center;
    background-color: var(--dark);
    padding-bottom: 60px;
}

footer .mentions .logo-img{
    width: 140px;
    margin: 30px auto;
}


footer .mentions .socials{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 40px auto ;
}

footer .mentions .socials a{
    margin: 0 15px;
    cursor: pointer;
}

footer .mentions .socials svg path{
    fill: var(--light);
}

footer .mentions .socials svg:hover path{
    fill: var(--cta);
}

footer .mentions ul li a{
    color: var(--light);
    font-size: .75rem;
    font-weight: 300;
    font-family: var(--open);
    text-decoration: none;
}

footer .mentions ul li a:hover{
    color: var(--cta);
    font-weight: 400;
}

footer .fixed-footer{
    position: fixed;
    bottom: 0;
    background-color: var(--dark);
    width: 100%;
    height: 50px;
    border-top: 1px solid var(--light);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .fixed-footer form,
header form{
    background-color: var(--light);
    border-radius: 25px;
}


footer .fixed-footer input,
header input{
    border-radius: 25px 0 0 25px ;
    border: none;
    padding-left: 15px;
    background-color: var(--light);
    margin: 0;
}

footer .fixed-footer input::placeholder,
header input::placeholder{
    font-size: .75rem;
}

footer .fixed-footer button,
header button{
    border-radius: 0 25px 25px 0;
    border: none;
    padding-left: 15px;
    background-color: var(--light);
    margin: 0;
}

footer .fixed-footer button svg,
header button svg{
    margin-right: 15px;
}

footer .fixed-footer button:hover,
header button:hover{
    background-color: var(--cta);
    font-weight: 500;
    color: white;
}

footer .fixed-footer button:hover svg path,
header button:hover svg path{
    fill: var(--light);
}



















/* ------ */
/* MODALS */
/* ------ */

/* LOGIN-SIGNIN */
#sign-log{
    display: none;
    position: fixed;
    background-color: var(--dark);
    width: auto;
    height: auto;
    padding: 15px;
    top: 50px;
    right: 0;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    border: 1px solid var(--light);
    z-index: 9000;
}

#sign-log.active{
    display: flex;
}


#sign-log button{
    margin: 10px;
    width: 120px;
    height: 30px;
    font-size: .875rem;
    font-family: var(--open);
    color: var(--dark);
    border-radius: 5px;
    border: none;
}

#sign-log button:hover{
    background-color: var(--cta);
    font-weight: 500;
    color: var(--light);
}







/* LOGIN WINDOW */
#login{
    display: none;
    position: fixed;
    background-color: var(--dark);
    width: 280px;
    padding: 0 20px;
    height: auto;
    top: 50px;
    right: 0;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 25px;
    border: 1px solid var(--light);
    border-radius: 25px;
    z-index: 9999;
}

#login.active{
    display: flex;
}

#login form label{
    font-size: .875rem;
    color: var(--light);
    margin: 0 10px;
}

#login form a{
    text-decoration: none;
    color: var(--light);
    font-size: 0.8rem;
}

#login form a:hover{
    color: var(--cta);
    font-weight: 500;
}



#login input{
    width: 150px;
    height: 25px;
    margin: 0;
    border-radius: 5px;
    border: none;
}

#login button{
    margin-top: 10px;
    width: 120px;
    height: 32px;
    font-size: .875rem;
    font-family: var(--open);
    color: var(--dark);
    border-radius: 5px;
    border: none;
}


#login button:hover{
    background-color: var(--cta);
    font-weight: 500;
    color: var(--light);
}

#login #annul{
    margin-bottom: 20px;
    height: 20px;
    width: 80px;
    font-size: .75rem;
    font-family: var(--open);
    color: var(--light);
    border-radius: 5px;
    border: solid 1px var(--light);
    background-color: var(--dark);
}

#login #annul:hover{
    color: var(--dark);
    border: solid 1px var(--light);
    background-color: var(--light);
}






/* USER PANEL */
#user-panel{
    display:none;
    position: fixed;
    flex-direction: column;
    top: 50px;
    right: 0;
    width: auto;
    height: auto;
    background-color: var(--dark);
    padding:40px 30px 10px;
    text-align: center;
    border: 1px solid var(--light);
    border-radius: 25px;
    z-index: 9999;
}

#user-panel.active{
    display: block;
}

#user-panel .user-action li{
    border-radius: 5px;
    padding: 10px;
}

#user-panel .user-action li:hover{
    background: var(--cta);
}

#user-panel .user-action li a{
    text-decoration: none;
}

#user-panel .action-logo figure svg path{
    height: 35px;
    width: 35px;
}

#user-panel .action-logo figcaption{
    font-size: .875rem;
    font-family: var(--open);
    color: var(--light);
    font-weight: 500; 
}


#user-panel button{
    margin: 30px auto;
    height: 20px;
    width: 140px;
    font-size: .75rem;
    font-family: var(--open);
    color: var(--light);
    border-radius: 5px;
    border: solid 1px var(--light);
    background-color: var(--dark);
}

#user-panel button:hover{
    color: var(--dark);
    background-color: var(--light);
}





















/* --------- */
/* HOME PAGE */
/* --------- */

/* HERO */
#hero{
    width: 100%;
    padding: 120px 10px 0;
    text-align: center;
}

#hero .hero-card{
    background-color: var(--dark);
    padding: 30px;
    border-radius: 5px;
    max-width: 700px;
    margin: 0 auto;
    height: auto;
}


#hero h1{
    font-family: var(--pop);
    font-size: clamp(2rem, 6vw, 4rem) ;
    line-height: clamp(2rem, 6vw, 4rem) ;
    font-weight: 400;
    background: linear-gradient(180deg, rgba(0,76,116,1), rgba(0,76,116,1) 50%, rgba(0,76,116,0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}

#hero img{
    width: 50% ;
    max-width: 400px;
    margin: 0 auto 15px;
    border-radius: 5px;
}

#hero h3{
    font-size: clamp(1rem, 5vw, 2rem) ;
    color: var(--light);
}

#hero .card-author{
    font-family: var(--open);
    font-size: .75rem;
    text-align: left;
    color: var(--light);
    text-align: center;
    margin: 15px 0 10px 0;
}

#hero .card-txt{
    text-align: center;
    font-family: var(--open);
    color: var(--light);
    font-size:  clamp(.875rem, 3vw, 1rem) ;;
    max-width: 525px;
    margin: 0 auto 15px;
}

#hero button{
    width: 155px;
    margin: 25px;
    border-radius: 5px;
    background-color: var(--light);
    border: none;
    color: var(--dark);
    cursor: pointer;
}

#hero button:hover{
    background-color: var(--cta);
    font-weight: 500;
    color: var(--light);
}

#hero .tags{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}


#hero span a,
#article span a{
    font-size: clamp(0.625rem, 3vw, 1rem);
    color: var(--dark);
    background-color: var(--light);
    border-radius: 25px;
    padding: 0 10px;
    margin: 0 10px 25px;
    text-decoration: none;
}

#hero span a:hover,
#article span a:hover{
    color: var(--light);
    background-color: var(--dark);
}

/* BANNER */
#banner{
    width: 100%;
    margin-top: 40px;
    background: url(./src/img/banner-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#banner h4{
    text-align: center;
    padding: 30px;
    font-family: var(--pop);
    font-size: 1rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--light);

}

/* ARTICLES CONTAINER */
#articles-container{
    width: 100%;
    max-width: 800px;
    padding: 0 25px;
    margin: 0 auto 50px;
}

#articles-container h2{
    text-align: center;
    font-family: var(--pop);
    font-size: clamp(2rem, 6vw, 3rem);
    line-height: clamp(2rem, 6vw, 3rem);
    font-weight: 400;
    background: linear-gradient(180deg, rgba(0,76,116,1), rgba(0,76,116,1) 50%, rgba(0,76,116,0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
}

.card-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.card-container .card{
    align-items: center;
    width: 100%;
    max-width: 600px;
    min-width: 350px;;
    height: auto;
    background-color: var(--primary);
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 15px;
    display: grid;
    grid-template-columns: 40% 60%;
}

#articles-container .card-img {
    width: 100%;
    height: auto;
}


#articles-container .card-txt {
    margin: 0 10px;
}

#articles-container .card-txt h3{
    font-size: clamp(1rem, 3vw, 1.1rem);
    color: var(--light);
    margin: 0 auto 10px;
    font-family: var(--pop);
    font-weight: 400;
}

#articles-container .card-txt .card-author{
    margin: 0 auto 10px;
    font-family: var(--open);
    font-size: .75rem;
    text-align: left;
    color: var(--light);
}

.see-more{
    padding: 5px 15px;
    margin: 10px 0 20px;
    border-radius: 5px;
    background-color: var(--light);
    border: none;
    color: var(--dark);
    cursor: pointer;
    text-decoration: none;
}

.see-more:hover{
    background-color: var(--cta);
    font-weight: 500;
    color: var(--light);
}


#articles-container .card-txt .card-tags{
    margin-top: 15px;
    display: flex;
    justify-content: left;
    }

#articles-container .card-txt .card-tags span a{
    font-size: clamp(0.625rem, 3vw, 1rem);
    color: var(--dark);
    background-color: var(--light);
    border-radius: 25px;
    padding: 0 10px;
    margin: 0 10px 25px;
    text-decoration: none;
}

#articles-container .card-txt .card-tags span a:hover{
    background: rgba(88, 123, 152, 0.5);
    color: var(--light);
}

/* TOPS */
#tops{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#tops::before{
    content: "";
    position: absolute;
    width: 50%;
    background-color: var(--dark);
    height: 1px;
    top : -25px;
    left : 50%;
    transform: translate(-50%);
}

#tops li::marker{
    font-size: .8125rem;
    font-weight: 500;
}

#tops h4{
    font-size: .875rem;
    font-family: var(--pop);
    color: var(--dark);
    text-decoration: none;
}

#tops a{
    font-size: .8125rem;
    text-decoration: none;
    color: var(--dark);
    text-decoration: none;
}

#tops a:hover{
    color: var(--cta);
    font-weight: 500;
}























/* ----------- */
/* - SIGN IN - */
/* ----------- */

#signin-body{
    width: 100%;
    height: 100vw;
    background: linear-gradient(to bottom, var(--primary), var(--light), var(--primary));
}


#signin .logo{
    height: 80px;
    width: 145px;
    z-index: 2;
    margin: 100px auto ;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(0,76,116,0.5);
}

#signin .signin-advantages{
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
}

#signin .signin-advantages figcaption{
    font-family: var(--open);
    font-size: clamp(0.8rem, 3vw, 1.2rem);
}

#signin .action-logo{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#signin .signin-form{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#signin .signin-form-part{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

#signin .signin-form-part label{
    font-family: var(--open);
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    margin-bottom: 5px;
}

#signin .signin-form-part input{
  border-radius: 5px;
  border: none;
  width: 280px;
  max-width: 400px;
  margin-bottom: 15px;
}

#signin .signin-form-part input::placeholder{
padding-left: 10px;
font-family: var(--open);
color: #587B98;
font-size: 0.7rem;
}

#signin .signin-buttons{    
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}

#signin-valid{
    width: 215px;
    height: 30px;
    background: var(--light);
    color: var(--dark);
    border-radius: 5px;
    border: none;
    margin: 0 auto 15px;
    cursor: pointer;
}

#signin-valid:hover{
    background: var(--cta);
    color: var(--light);
    font-weight: 500;
}

#back-home{
    width: 130px;
    height: 25px;
    background: transparent;
    text-decoration: none;
    text-align: center;
    line-height: 1.5625rem;
    color: rgba(0, 76, 116, 0.7);
    border-radius: 5px;
    border: var(--light) 1px solid;
    margin: 15px auto;
    font-size: .75rem;
    cursor: pointer;
}

#back-home:hover{
    background: var(--light);
    color: var(--dark);
}



/* --------------- */
/* REINIT PASSWORD */
/* --------------- */
#new-password{
    width: 100%;
    height: 100vw;
    background: linear-gradient(to bottom, var(--primary), var(--light), var(--primary));
}


#reinit .logo{
    height: 80px;
    width: 145px;
    z-index: 2;
    margin: 100px auto 50px ;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(0,76,116,0.5);
}


#reinit .reinit-form{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#reinit .reinit-form h2{
    margin: 15px auto;
    color: var(--dark);
    font-size: clamp(1.5rem, 3vw, 2rem);
    text-align: center;
}




#reinit .reinit-form-part{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

#reinit .reinit-form-part label{
    font-family: var(--open);
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    margin-bottom: 5px;
}

#reinit .reinit-form-part input{
  border-radius: 5px;
  border: none;
  width: 280px;
  max-width: 400px;
  margin-bottom: 15px;
}

#reinit .reinit-form-part input::placeholder{
padding-left: 10px;
font-family: var(--open);
color: #587B98;
font-size: 0.7rem;
}

#reinit .reinit-buttons{    
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}

#reinit-valid{
    width: 215px;
    height: 30px;
    background: var(--light);
    color: var(--dark);
    border-radius: 5px;
    border: none;
    margin: 0 auto 15px;
    cursor: pointer;
}

#reinit-valid:hover{
    background: var(--cta);
    color: var(--light);
    font-weight: 500;
}

#back-home{
    width: 130px;
    height: 25px;
    background: transparent;
    text-decoration: none;
    text-align: center;
    line-height: 1.5625rem;
    color: rgba(0, 76, 116, 0.7);
    border-radius: 5px;
    border: var(--light) 1px solid;
    margin: 15px auto;
    font-size: .75rem;
    cursor: pointer;
}

#back-home:hover{
    background: var(--light);
    color: var(--dark);
}









/* ---------- */
/*  RESSOURCE */
/* ---------- */
#article{
    width: 100%;
    padding-top: 70px;
}

#article main{
    max-width: 1000px;
    margin: 0 auto;
}


#ressource{
    margin-top: 50px;
    background: var(--primary);
    border-radius: 4px;
    position: relative;

}

#ressource .img-top{
    padding-top: 80px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
}

#ressource #favorite-svg{
    position: absolute;
    top: 30px;
    left: 50px;
}

#ressource #favorite-svg path{
    fill: var(--light);
    stroke: var(--dark);
}

#ressource #favorite-svg:hover path{
    fill: var(--cta);
}


#ressource .img-top img{
    width: 100%;
    padding: 0 30px;
    border-radius: 5px;
}

#ressource .ressource-title{
    text-align: center;
    font-family: var(--pop);
    color: #fff;
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 400;
    margin: 10px auto 15px;
    padding: 0 30px;
}

#ressource .ressource-subtitle{
    text-align: center;
    font-family: var(--pop);
    color: #fff;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    font-weight: 300;
    margin: 30px auto;
    padding: 0 30px;
}

#ressource .ressource-txt{
    text-align: left;
    font-family: var(--op);
    color: #fff;
    font-size: clamp(0.8rem, 3vw, 1.2rem);
    font-weight: 300;
    margin: 50px auto 50px;
    padding: 0 30px;
}

#ressource .ressource-author,
#ressource .ressource-date{
    text-align: right;
    font-family: var(--op);
    color: var(--light);
    font-size: clamp(0.8rem, 3vw, 1rem);
    font-weight: 300;
    padding: 0 30px;
}


#ressource .ressource-bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px auto;
    padding: 15px;
}

#ressource .ressource-tags{
    display: flex;
    flex-direction: column;
}

.ressource-tags h3,
.ressource-share h3{
    font-size: clamp(1rem, 5vw, 1.6rem) ;
    font-family: var(--pop);
    font-weight: 500;
    color: var(--dark);
    margin-bottom: 10px;
}

.ressource-tags .tags a{
    text-decoration: none;
    font-family: var(--op);
    margin: 0;
}

.ressource-tags .tags a:hover{
    background: rgba(88, 123, 152, 0.5);
    color: var(--light);
}



.ressource-share .socials-svgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.ressource-share svg{
    cursor : pointer;
    height: 23px;
    width: 22px;
}

.ressource-share svg path{
    fill: var(--light);
}

.ressource-share svg:hover path{
    fill: var(--cta);
}


#comment-section{
    background: #fff;
    padding: 10px 20px;
    position: relative;
    margin: 15px 0;
}

#comment-section .comment-card{
    margin: 40px 0;
}

#comment-section .comment-card h4{
    font-size: clamp(0.8rem, 4vw, 1.6rem) ;
    font-family: var(--pop);
    color: var(--dark);
    font-weight: 500;
}

#comment-section .comment-txt{
    color: var(--dark);
    font-size: clamp(0.8rem, 4vw, 1.2rem) ;
    margin: 10px 0;
}

#comment-section .comment-date{
    font-size: clamp(0.6rem, 3vw, 1rem) ;
    color: var(--primary);
}

#comment-section .comment-card:not(:last-child)::after{
    content: "";
    position: absolute;
    width: 75%;
    height: 1px;
    background: var(--dark);
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
}

#comment-section .comment-add{
    display: flex;
    flex-direction: column;
}

#comment-section .comment-add label{
    font-family: var(--op);
    color: var(--dark);
    font-weight: 500;
    font-size: clamp(0.8rem, 4vw, 1.2rem) ;
}

#comment-section .comment-add textarea{
    color: var(--dark);
    font-size: clamp(0.7rem, 4vw, 1.1rem) ;
    padding : 15px;
}

#comment-section .comment-add button{
    padding : 10px 15px;
    width: 200px;
    margin: 25px auto;
    border-radius: 5px;
    background-color: var(--primary);
    border: none;
    color: var(--light);
    cursor: pointer;
}

#comment-section .comment-add button:hover{
    background-color: var(--cta);
    color: var(--light);
    font-weight: 500;
}









/* ----------------- */
/*   NEW RESSOURCE   */
/* ----------------- */
#newarticle{
    width: 100%;
    padding-top: 70px;
}

#newarticle main{
    max-width: 1000px;
    margin: 0 auto;
}


#newressource{
    margin-top: 50px;
    background: var(--primary);
    border-radius: 4px;
}

#newressource h1{
    font-size: clamp(1.7rem, 3vw, 3rem);
    color: var(--light);
    padding: 20px 25px 0;
    text-align: center;
    font-family: var(--pop);
}

#newressource form div{
    display: flex;
    flex-direction: column;
    margin : 30px auto;
    padding: 0 30px;
    max-width: 750px;
}

#newressource form div label{
    color: var(--light);
    font-size: clamp(1.2rem, 3vw, 1.6rem);
    margin-bottom: 5px;
    font-weight: 500;
    font-family: var(--pop);
}

#newressource input, #newressource textarea, #newressource select{
    border-radius: 4px;
    border: none;
}

#newressource #article-img{
    color: var(--light);
}

#newressource #img-help,
#newressource #tags-help{
    color: var(--light);
    font-size: 0.7rem;
}

#newressource form button{
    width: 300px;
    height: 40px;
    margin: 25px auto;
    border-radius: 5px;
    background-color: var(--light);
    border: none;
    color: var(--dark);
    cursor: pointer;
}

#newressource form button:hover{
    background-color: var(--cta);
    color: var(--light);
    font-weight: 500;
}









/* ---------- */
/* VALIDATION */
/* ---------- */
#valid{
    width: 100%;
    padding-top: 70px;
}

#valid main{
    max-width: 1000px;
    margin: 0 auto;
}


#validation{
    margin-top: 50px;
    background: var(--primary);
    border-radius: 4px;
    text-align: center;
}

#validation .img-top{
    padding-top: 80px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
}

#validation .img-top img{
    width: 100%;
    padding: 0 30px;
    border-radius: 5px;
}

#validation .ressource-title{
    text-align: center;
    font-family: var(--pop);
    color: #fff;
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 400;
    margin: 10px auto 15px;
    padding: 0 30px;
    font-style: italic;

}

#validation .ressource-subtitle{
    text-align: center;
    font-family: var(--pop);
    color: #fff;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    font-weight: 300;
    margin: 30px auto;
    padding: 0 30px;
    font-style: italic;

}

#validation .ressource-txt{
    text-align: left;
    font-family: var(--op);
    color: #fff;
    font-size: clamp(0.8rem, 3vw, 1.2rem);
    font-weight: 300;
    margin: 50px auto 50px;
    padding: 0 30px 30px;
    font-style: italic;
}

#valid-section{
    background: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align:center ;
}

#valid-section h2{
    text-align: center;
    font-family: var(--pop);
    font-size: clamp(2rem, 6vw, 3rem);
    line-height: clamp(2rem, 6vw, 3rem);
    font-weight: 400;
    background: linear-gradient(180deg, rgba(0,76,116,1), rgba(0,76,116,1) 50%, rgba(0,76,116,0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 80px;
}

#valid-section div{
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    /* padding: 0 30px; */
}

#valid-section label{
    text-align: left;
    margin: 5px;
    color: var(--dark);
}

#valid-section .slider{
    justify-content: center;
    display: flex;
}

#valid-section .slider input{
    width: 250px;
    margin: 10px auto;
}


#valid-section textarea{
    height: 150px;
}


#valid-section button{
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: var(--light);
    border: none;
    color: var(--dark);
    cursor: pointer;
}

#valid-section button:hover{
    background-color: var(--cta);
    color: var(--light);
    font-weight: 500;
}











/* --------- */
/* FAVORITES */
/* --------- */
#favorites-container{
    width: 100%;
    max-width: 800px;
    padding: 0 25px;
    margin: 0 auto 50px;
}

#favorites-container h2{
    text-align: center;
    font-family: var(--pop);
    font-size: clamp(2rem, 6vw, 3rem);
    line-height: clamp(2rem, 6vw, 3rem);
    font-weight: 400;
    background: linear-gradient(180deg, rgba(0,76,116,1), rgba(0,76,116,1) 50%, rgba(0,76,116,0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 80px;
}

.fav-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fav-container .card{
    width: 100%;
    max-width: 600px;
    min-width: 350px;;
    height: auto;
    background-color: var(--primary);
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 15px;
    align-items: center;
    display: grid;
    grid-template-columns: 40% 60%;
}

#favorites-container .card-img {
    width: 100%;
    height: auto;
}

#favorites-container .card-img img{
    width: 100%;
    padding: 5px;
}

#favorites-container .card-txt {
    margin: 0 10px;
}

#favorites-container .card-txt h3{
    font-size: clamp(1rem, 3vw, 1.1rem);
    color: var(--light);
    margin: 0 auto 10px;
    font-family: var(--pop);
    font-weight: 400;
}

#favorites-container .card-txt .card-author{
    margin: 0 auto 10px;
    font-family: var(--open);
    font-size: .75rem;
    text-align: left;
    color: var(--light);
}

.see-more{
    padding: 5px 15px;
    margin: 10px 0 20px;
    border-radius: 5px;
    background-color: var(--light);
    border: none;
    color: var(--dark);
    cursor: pointer;
    text-decoration: none;
}

.see-more:hover{
    background-color: var(--cta);
    font-weight: 500;
    color: var(--light);
}


#favorites-container .card-txt .card-tags{
    margin-top: 15px;
    display: flex;
    justify-content: left;
    }

#favorites-container .card-txt .card-tags span a{
    font-size: clamp(0.625rem, 3vw, 1rem);
    color: var(--dark);
    background-color: var(--light);
    border-radius: 25px;
    padding: 0 10px;
    margin: 0 10px 25px;
    text-decoration: none;
}

#favorites-container .card-txt .card-tags span a:hover{
    background: rgba(88, 123, 152, 0.5);
    color: var(--light);
}

/* ---------- */
/*  SETTINGS */
/* ---------- */
#param{
    width: 100%;
    padding-top: 100px;
}

#param main{
    max-width: 1000px;
    margin: 0 auto;
}


#parametres{
    margin: 20px auto;
    padding: clamp(10px,4vw,50px);
    background: var(--primary);
    border-radius: 4px;
    max-width: 600px;
}

#parametres details{
    margin: 50px auto;
    position: relative;
    cursor: pointer;
}

#parametres details div {
    margin-top: 15px;
    border-radius: 5px;
    background: var(--light);
    padding: 10px;
}

#parametres details:not(:last-of-type)::after {
    content: ""; 
    position: absolute;
    height: 1px;
    width: 150px;
    bottom: -25px; 
    left: 50%;
    transform: translateX(-50%);
    background: var(--light);
}

#parametres summary{
    color: var(--light);
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--pop);
}

#parametres label{
    color: var(--dark);
    font-size: 1rem;
    font-weight: 500;
}

#parametres input::placeholder{
    color: var(--primary);
    font-size: 0.7rem;
}












/* ---------- */
/*  NOTIFICATIONS */
/* ---------- */
#notifications{
    width: 100%;
    padding-top: 100px;
}

#notifications main{
    max-width: 1000px;
    margin: 0 auto;
}

#notifications h2{
    font-size: clamp(1.6rem, 3vw, 2.4rem);
    color: var(--light);
    font-family: var(--pop);
    padding: 20px 25px 0;
    margin-bottom: 20px;
}


#notifs-container{
    margin: 20px auto;
    padding: clamp(10px,4vw,50px);
    background: var(--primary);
    border-radius: 4px;
    max-width: 800px;
}

#notifs-container .notif-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--dark);
    padding: 15px;
    margin: 15px auto;
    border-radius: 5px;
}

#notifs-container .notif-img,
#notifs-container .notif-redirect{
    margin: 10px;
}

#notifs-container .notif-redirect:hover path{
    fill: var(--cta);
    stroke: var(--cta);
}

#notifs-container .notif-infos{
    text-align: center;
}

#notifs-container .notif-infos h3{
    position: relative;
    color: var(--light);
    font-size : clamp(1.2rem,2vw,1.3rem);
    font-family : var(--pop);
    font-weight: 500;
    margin: 15px 20px;
}

#notifs-container .notif-infos h3::after{
    position: absolute;
    content: "";
    width: 80%;
    height: 1px;
    background: var(--light);
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}



#notifs-container .notif-infos p{
   color: var(--light);
   font-size : clamp(0.9rem,2vw,1rem);
   font-family : var(--op);
}


















/* ------------ */
/* INFOS FOOTER */
/* ------------ */
#terms,
#privacy,
#faq,
#contact{
    width: 100%;
    padding-top: 70px;
}

#terms main,
#privacy main,
#faq main,
#contact main{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    background: var(--primary);
    border-radius: 4px;
}

#terms .footer-part,
#privacy .footer-part,
#faq .footer-part,
#contact .footer-part{
    padding: 25px clamp(20px,3vw,75px) ;
    margin: 50px auto;
    position: relative;
}

#terms h2,
#privacy h2,
#faq h2,
#contact h2{
    font-size: clamp(1.7rem, 3vw, 3rem);
    color: var(--light);
    font-family: var(--pop);
    padding: 20px 25px 0;
    margin-bottom: 20px;
}

#terms h3,
#privacy h3,
#faq h3,
#contact h3{
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    color: var(--light);
    font-family: var(--pop);
    margin: 20px auto 10px;
}

#terms p,
#terms li,
#privacy p,
#privacy li,
#faq p,
#faq li,
#contact p,
#contact li{
    font-size: clamp(0.9rem, 2vw, 1rem);
    color: var(--light);
    font-family: var(--pop);
    font-weight: 300;
}


#faq .footer-part:not(:last-child)::before {
    content: ""; 
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 100%;
    margin-top: 50px;
    transform: translate(-50%); 
    width: 50%; 
    height: 1px; 
    background: var(--light); 
}

#contact #contact-form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align:center ;
}

#contact #contact-form label{
    text-align: left;
    margin: 20px 0 5px;
}

#contact #contact-btn{
    width: 200px;
    margin: 25px auto;
    border-radius: 5px;
    background-color: var(--light);
    border: none;
    color: var(--dark);
    cursor: pointer;
}

#contact #contact-btn:hover{
    background-color: var(--cta);
    color: var(--light);
    font-weight: 500;
}







/* USER-ONLY // INV-ONLY */



.hidden {
    display: none;
}





















/* ----------- */
/* BREAKPOINTS */
/* ----------- */


@media screen and (min-width: 450px){
    #index #tops{
        margin: 30px auto;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3.125rem;
    }
}

@media screen and (min-width: 663px){
    nav ul {
        justify-content: center;
    }

    nav .tags-links{
        margin: 0;
    }

    header .search-bar{
        display: block;
    }

    footer .fixed-footer{
        display: none;
    }


}

@media screen and (min-width: 1024px) {
   #index main{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto auto;
    gap: 10px;
   }

   #index #hero{
    grid-column: 1 / span 2;
    grid-row: 1;
    height: auto;
   }

   #index #banner{
    grid-column: 1 / span 2;
    grid-row: 2;
   }

   #index #articles-container{
    grid-column: 1 ;
    grid-row: 3;
   }

   #index #tops {
    padding-top: 150px;
    position: sticky;
    top: 0;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
    
    #index #tops::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 530px;
    background: var(--dark);
    top: 130px;
    left: -30px;
   }
}



@media screen and (min-width: 1600px) {
    #index #articles-container {
        justify-self: center;
    }
    
    #index .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin: 10px auto;   
        justify-content: center;  
    }

    #index .card-container .card{
        width: 600px;
        align-self: center;
        justify-self: center;
    }
}