/* VARIABLES */
:root{
    --primary : #587B98;
    --cta : #FF5C5C;
    --light : #D2F5FF;
    --dark : #004C74;
    --pop : 'Poppins';
    --open : 'Open Sans';
}


body{
    width: 100%;
    font-family: var(--open);
    background-color: var(--light);
    position: relative;
}





/* HEADER */

header{
    height: 50px;
    width: 100%;
    background-color: var(--dark);
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--light);
}

header nav{
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo img{
    height: 40px;
    width: auto;
    align-items: center;
    margin: 0 auto;
}

header nav path{
    fill: var(--light);
}

header .logo-right {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.tags-nav {
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 50px;
    background-color: var(--light);
    z-index: 1;
}

header .tags-nav ul {
    display: flex;
    width: 100%;
    height: 50px;
    /* padding: 0 20px; */
    flex-direction: row;
    margin: 15px auto;
    align-items: center;
    justify-content: start;
    overflow-y: hidden;
}

header .tags-nav ul::-webkit-scrollbar {
    height: 5px;
}

header .tags-nav ul::-webkit-scrollbar-track {
    background-color: var(--light);
    border-radius: 10px;
}

header .tags-nav ul::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
}

header .tags-nav ul::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark);
}

header .tags-links{
    margin: 0;
} 



header .tags-nav ul li a{
    text-decoration: none;
    margin: 0 5px;
    background-color: var(--primary);
    padding: 4px 8px;
    border-radius: 25px;
    color: var(--light);
}





/* BURGER MENU */

#burger-menu{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 8px;
    background-color: var(--dark);
    padding: 0;
}

.burger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    position: relative;
    cursor: pointer;
}

.top-bar,
.middle-bar,
.bottom-bar {
    height: 3px;
    width: 30px;
    background-color: white;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
}

.top-bar.active{
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: 4px;
    transition: 0.2s ease-in;
}

.middle-bar.active{
    display: none;
}

.bottom-bar.active{
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: 4px;
    transition: 0.2s ease-in;
}



/* BURGER-NAVIGATION */
#burger-nav{
    position: fixed;
    display: none;
    top: 50px;
    right: 0;
    width: 200px;
    height: 250px;
    background-color: var(--dark);
    text-align: center;
    border-radius: 0 0 0 25px;
    box-shadow: -5px 10px 5px rgba(0,0,0,0.1);
}

#burger-nav.active{
    display: block;
}

#burger-nav .connexion form{
    text-align: right;
    margin: 0 20px;
}




#burger-nav nav ul li{
    text-align: center;
    margin: 25px auto;
}



#burger-nav nav ul li a{
    text-decoration: none;
    color: var(--light);
    font-size: 1.25rem;
    font-size: var(--pop);
}

#burger-nav nav ul li a:hover{
    color: var(--cta);
    font-weight: 600;
}




#burger-nav button:hover{
    background-color: var(--cta);
    font-weight: 500;
    color: var(--light);
    font-size: 1rem;
}

/* LOGIN-SIGNIN */
#sign-log{
    display: none;
    position: fixed;
    background-color: var(--dark);
    width: calc(100% - 10px);
    height: 60px;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    justify-content: space-evenly;
    border-radius: 0 0 25px 25px;
    border: 1px solid var(--light);
    border-top: none;
    z-index: 1000;
}

#sign-log.active{
    display: flex;
}


#sign-log button{
    margin: 10px;
    width: 120px;
    height: 30px;
    font-size: .875rem;
    font-family: var(--open);
    color: var(--dark);
    border-radius: 5px;
    border: none;
}

#sign-log button:hover{
    background-color: var(--cta);
    font-weight: 500;
    color: var(--light);
}

/* LOGIN WINDOW */
#login{
    display: none;
    position: fixed;
    background-color: var(--dark);
    width: calc(100% - 10px);
    height: 275px;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    justify-content: space-evenly;
    border-radius: 0 0 25px 25px;
    text-align: center;
    padding-top: 25px;
    border: 1px solid var(--light);
    border-top: none;
    z-index: 9999;
}

#login.active{
    display: flex;
}

#login form label{
    font-size: .875rem;
    color: var(--light);
    margin: 0 10px;
}

#login input{
    width: 150px;
    height: 25px;
    margin: 0;
    border-radius: 5px;
    border: none;
}

#login button{
    margin: 20px 0 0 0;
    width: 120px;
    height: 32px;
    font-size: .875rem;
    font-family: var(--open);
    color: var(--dark);
    border-radius: 5px;
    border: none;
}


#login button:hover{
    background-color: var(--cta);
    font-weight: 500;
    color: var(--light);
}

#login #annul{
    height: 20px;
    width: 80px;
    font-size: .75rem;
    font-family: var(--open);
    color: var(--light);
    border-radius: 5px;
    border: solid 1px var(--light);
    background-color: var(--dark);
}

#login #annul:hover{
    height: 20px;
    width: 80px;
    font-size: .75rem;
    font-family: var(--open);
    color: var(--dark);
    border-radius: 5px;
    border: solid 1px var(--light);
    background-color: var(--light);
}









/* HERO */
main{
    width: 100%;
    padding: 80px 30px 0px;
    text-align: center;
}

main .hero-card{
    background-color: var(--dark);
    padding: 30px;
    border-radius: 5px;
    max-width: 590px;
    margin: 0 auto;
}



main h1{
    font-family: var(--pop);
    font-size: 2.5rem ;
    line-height: 2rem;
    font-weight: 400;
    background: linear-gradient(180deg, rgba(0,76,116,1), rgba(0,76,116,1) 50%, rgba(0,76,116,0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}

main img{
    width: 50% ;
    max-width: 400px;
    margin: 0 auto 25px;
    border-radius: 5px;
}

main h3{
    font-size: 1rem;
    color: var(--light);
}

main .card-author{
    font-family: var(--open);
    font-size: .75rem;
    text-align: left;
    color: var(--light);
    text-align: center;
    margin: 35px 0 10px 0;
}

main .card-txt{
    text-align: center;
    font-family: var(--open);
    color: var(--light);
    font-size: .875rem;
    max-width: 525px;
    margin: 0 auto;
}

main button{
    width: 155px;
    margin: 25px;
    border-radius: 5px;
    background-color: var(--light);
    border: none;
    color: var(--dark);
    cursor: pointer;
}

main button:hover{
    background-color: var(--cta);
    font-weight: 500;
    color: var(--light);
}

main .tags{
    display: flex;
    justify-content: center;
}

main span{
    font-size: .625rem;
    color: var(--dark);
    background-color: var(--light);
    border-radius: 25px;
    padding: 0 10px;
    margin: 0 10px;
}

main a{
    text-decoration: none;
}




/* BANNER */
#banner{
    width: 100%;
    margin-top: 40px;
    background: url(./src/img/banner-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#banner h4{
    text-align: center;
    padding: 30px;
    font-family: var(--pop);
    font-size: 1rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--light);

}




/* ARTICLES CONTAINER */


#articles-container{
    width: 100%;
    max-width: 800px;
    padding: 0 25px;
    margin: 0 auto 50px;
}

#articles-container h2{
    text-align: center;
    font-family: var(--pop);
    font-size: 2rem ;
    line-height: 2rem;
    font-weight: 400;
    background: linear-gradient(180deg, rgba(0,76,116,1), rgba(0,76,116,1) 50%, rgba(0,76,116,0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
}

.card-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.card-container .card{
    width: 100%;
    max-width: 600px;
    min-width: 350px;;
    height: auto;
    background-color: var(--primary);
    display: flex;
    border-radius: 5px;
    margin-bottom: 25px;
    padding-top: 15px;
}

#articles-container .card-img {
    width: 100%;
    height: auto;
}

#articles-container .card-img img{
    padding: 0 10px;
    margin: 0 auto 15px;
    width: 80%;

}

#articles-container .card-txt {
    margin: 0 10px;
}

#articles-container .card-txt h3{
    font-size: 1rem;
    color: var(--light);
    margin: 0 auto 10px;
    font-family: var(--pop);
    font-weight: 400;
}

#articles-container .card-txt .card-author{
    margin: 0 auto 10px;
    font-family: var(--open);
    font-size: .75rem;
    text-align: left;
    color: var(--light);
}

#articles-container .card-txt button{
    width: 155px;
    margin: 10px 0 20px;
    border-radius: 5px;
    background-color: var(--light);
    border: none;
    color: var(--dark);
    cursor: pointer;
}

#articles-container .card-txt button:hover{
    background-color: var(--cta);
    font-weight: 500;
    color: var(--light);
}


#articles-container .card-txt .card-tags{
    display: flex;
    justify-content: left;
    }

#articles-container .card-txt .card-tags span{
    font-size: .625rem;
    color: var(--dark);
    background-color: var(--light);
    border-radius: 25px;
    padding: 0 10px;
    margin: 0 10px 15px;
}


/* FOOTER */
footer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer::before{
    content: "";
    position: absolute;
    width: 50%;
    background-color: var(--dark);
    height: 1px;
    left : 50%;
    transform: translate(-50%);
}

footer .tops{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer .tops li::marker{
    font-size: .8125rem;
    font-weight: 500;
}

footer .tops h4{
    font-size: .875rem;
    color: var(--pop);
    color: var(--dark);
    text-decoration: none;
}

footer .tops a{
    font-size: .8125rem;
    text-decoration: none;
    color: var(--dark);
    text-decoration: none;
}

footer .tops a:hover{
    color: var(--cta);
    font-weight: 500;
}

footer .mentions{
    text-align: center;
    background-color: var(--dark);
    padding-bottom: 60px;
}

footer .mentions .logo-img{
    width: 140px;
    margin: 30px auto;
}


footer .mentions .socials{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 40px auto ;
}

footer .mentions .socials a{
    cursor: pointer;
}

footer .mentions .socials svg path{
    fill: var(--light);
}

footer .mentions .socials svg:hover path{
    fill: var(--cta);
}

footer .mentions ul li a{
    color: var(--light);
    font-size: .75rem;
    font-weight: 300;
    font-family: var(--open);
    text-decoration: none;
}

footer .mentions ul li a:hover{
    color: var(--cta);
    font-weight: 400;
}

footer .fixed-footer{
    position: fixed;
    bottom: 0;
    background-color: var(--dark);
    width: 100%;
    height: 50px;
    border-top: 1px solid var(--light);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .fixed-footer form{
    background-color: var(--light);
    border-radius: 25px;
}



footer .fixed-footer input{
    border-radius: 25px 0 0 25px ;
    border: none;
    padding-left: 15px;
    background-color: var(--light);
    margin: 0;
}

footer .fixed-footer input::placeholder{
    font-size: .75rem;
}

footer .fixed-footer button{
    border-radius: 0 25px 25px 0;
    border: none;
    padding-left: 15px;
    background-color: var(--light);
    margin: 0;
}

footer .fixed-footer button svg{
    margin-right: 15px;
}

footer .fixed-footer button:hover{
    background-color: var(--cta);
    font-weight: 500;
    color: white;
}

footer .fixed-footer button:hover svg path{
    fill: var(--light);
}


















/* USER-ONLY // INV-ONLY */
.user-only{
    display: none;;
}

.user-only.active{
    display: block;;
}

.invite-only{
    display: block;;
}

.invite-only.active{
    display: none;;
}







/* ----------- */
/* BREAKPOINTS */
/* ----------- */


@media screen and (max-width: 767px){

}


@media screen and (min-width: 768px) and (max-width: 1439px){
        
}


@media screen and (min-width: 1440px){

}